<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <Property Id="FEATURES" Value="1"/>
    
    <Feature Id="AMAT" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="AMAT" Description="The WaferVision files." Display="expand" Level="1" Title="WaferVision">
      <ComponentRef Id="AMAT" />
      <ComponentRef Id="RES" />
      <ComponentRef Id="RES_DATAFILES" />
      <!--<ComponentRef Id="HDR" />-->
      <!--<ComponentRef Id="WAFERVISION" />-->
      <!--<ComponentRef Id="BIN" />-->
      <ComponentRef Id="AMATCRT8_DLL" />
      <ComponentRef Id="BIN_DATAFILES" />
      <ComponentRef Id="AMATRAID0_DLL" />
      <ComponentRef Id="AMATSYS8_DLL" />
      <ComponentRef Id="CGACFG_DLL" />
      <ComponentRef Id="CGADLDR_EXE" />
      <ComponentRef Id="CGAEVDUMP_EXE" />
      <ComponentRef Id="CGAEVENT_DLL" />
      <ComponentRef Id="CGAFA_E300PS_DLL" />
      <ComponentRef Id="CGAFA_OPTDEF_DLL" />
      <ComponentRef Id="CGAFA_UTILS_DLL" />
      <ComponentRef Id="CGALOCUI_DLL" />
      <ComponentRef Id="CGAMAIN_DLL" />
      <ComponentRef Id="CGAOPTDEF_DLL" />
      <ComponentRef Id="CGAREMOTING_DLL" />
      <ComponentRef Id="CGARNODE_EXE" />
      <ComponentRef Id="CGART_EXPORTS_DLL" />
      <ComponentRef Id="CGASDEVS_DLL" />
      <ComponentRef Id="CGASEQ_EFEMINTERFACE_DLL" />
      <ComponentRef Id="CGAWH_DLL" />
      <ComponentRef Id="CGAWHDUMP_EXE" />
      <ComponentRef Id="CGA_DEVICE_DLL" />
      <ComponentRef Id="CGA_EXPR_DLL" />
      <ComponentRef Id="CGA_MK_DLL" />
      <ComponentRef Id="CGA_SEQLOCUI_DLL" />
      <ComponentRef Id="CGA_SEQUTL_DLL" />
      <ComponentRef Id="DBGHELP_DLL" />
      <ComponentRef Id="DCGA_DLL" />
      <ComponentRef Id="DEFCRT8_DLL" />
      <ComponentRef Id="DEVMANISM_DLL" />
      <ComponentRef Id="DIET_DLL" />
      <ComponentRef Id="ECMASTER_DLL" />
      <ComponentRef Id="EMLLPCAP_DLL" />
      <ComponentRef Id="EZMSGSV8_DLL" />
      <ComponentRef Id="EZSECS8_DLL" />
      <ComponentRef Id="FEPRDMDVR_DLL" />
      <ComponentRef Id="FEPRDMPVCAM_DLL" />
      <ComponentRef Id="GPUBASE_DLL" />
      <ComponentRef Id="GPUCHEAP_DLL" />
      <ComponentRef Id="GPUTREE_DLL" />
      <ComponentRef Id="GPUUTL_DLL" />
      <ComponentRef Id="INFRANT8_DLL" />
      <ComponentRef Id="LPSOLVE55_DLL" />
      <ComponentRef Id="OSACRSHS_EXE" />
      <ComponentRef Id="OSANTMS8_DLL" />
      <ComponentRef Id="OSARSAPP_EXE" />
      <ComponentRef Id="OSAUTIL8_DLL" />
      <ComponentRef Id="PMVIEWER_EXE" />
      <ComponentRef Id="PSAPI_DLL" />
      <ComponentRef Id="RDMASM_DLL" />
      <ComponentRef Id="RDMCHINTERFACE_DLL" />
      <ComponentRef Id="RDMCOMM_DLL" />
      <ComponentRef Id="RDMCTLRCMDHDLR_DLL" />
      <ComponentRef Id="RDMDMFC_DLL" />
      <ComponentRef Id="RDMDNET_DLL" />
      <ComponentRef Id="RDMDNMOTOR_DLL" />
      <ComponentRef Id="RDMDR_DLL" />
      <ComponentRef Id="RDMECATD_DLL" />
      <ComponentRef Id="RDMECATDGEN_DLL" />
      <ComponentRef Id="RDMECATD_PS_DLL" />
      <ComponentRef Id="RDMECATMOTOR_DLL" />
      <ComponentRef Id="RDMEDCM_DLL" />
      <ComponentRef Id="RDMETMB_DLL" />
      <ComponentRef Id="RDMEUROTHERM_DLL" />
      <ComponentRef Id="RDMFIC_DLL" />
      <ComponentRef Id="RDMGASPANEL_DLL" />
      <ComponentRef Id="RDMGASSERVICE_DLL" />
      <ComponentRef Id="RDMGDNMOTOR_DLL" />
      <ComponentRef Id="RDMGENERATOR_DLL" />
      <ComponentRef Id="RDMGSCALIB_DLL" />
      <ComponentRef Id="RDMGSCLOGCHECK_DLL" />
      <ComponentRef Id="RDMGSCYCLEPURGE_DLL" />
      <ComponentRef Id="RDMINTERLOCK_DLL" />
      <ComponentRef Id="RDMLFC_DLL" />
      <ComponentRef Id="RDMMKS651_DLL" />
      <ComponentRef Id="RDMMKS683_DLL" />
      <ComponentRef Id="RDMO2ANALYZER_DLL" />
      <ComponentRef Id="RDMPARTS_DLL" />
      <ComponentRef Id="RDMPM_DLL" />
      <ComponentRef Id="RDMPRESSGAUGES_DLL" />
      <ComponentRef Id="RDMROUGHPUMP_DLL" />
      <ComponentRef Id="RDMRPS_DLL" />
      <ComponentRef Id="RDMSERVICE_DLL" />
      <ComponentRef Id="RDMSIGNALLAMPS_DLL" />
      <ComponentRef Id="RDMSIGNALTOWER_DLL" />
      <ComponentRef Id="RDMSLITVALVE_DLL" />
      <ComponentRef Id="RDMSOCKETS_DLL" />
      <ComponentRef Id="RDMTRANSDUCER_DLL" />
      <ComponentRef Id="RDMUSERACTION_DLL" />
      <ComponentRef Id="RDMVALVE_DLL" />
      <ComponentRef Id="RDMVIRTUALIO_DLL" />
      <ComponentRef Id="RDMWATLOW_DLL" />
      <ComponentRef Id="RDM_ARCH_OPTDEF_DLL" />
      <ComponentRef Id="RDM_ATC_OPTDEF_DLL" />
      <ComponentRef Id="RDM_BASE_OPTDEF_DLL" />
      <ComponentRef Id="RDM_CDC_OPTDEF_DLL" />
      <ComponentRef Id="RDM_CSG_OPTDEF_DLL" />
      <ComponentRef Id="RDM_IO_OPTDEF_DLL" />
      <ComponentRef Id="RDM_MDP_OPTDEF_DLL" />
      <ComponentRef Id="RDM_MISC_OPTDEF_DLL" />
      <ComponentRef Id="RDM_MOTION_OPTDEF_DLL" />
      <ComponentRef Id="RDM_OPTDEF_DLL" />
      <ComponentRef Id="REGEXAP8_DLL" />
      <ComponentRef Id="SEQLOCUI_DLL" />
      <ComponentRef Id="SEQRDM_DLL" />
      <ComponentRef Id="SEQUENCER_DLL" />
      <ComponentRef Id="SVIEWDSM_EXE" />
      <ComponentRef Id="UNITTESTRUNNER_EXE" />
      <ComponentRef Id="WAFERVISION_EXE" />
      <ComponentRef Id="WAFERVISIONGUI_EXE" />
      <ComponentRef Id="WAITFORSERVICE_EXE" />
      <ComponentRef Id="WVVIEW_EXE" />
      <ComponentRef Id="WV_OPTDEF_DLL" />
      <ComponentRef Id="WV_QV_DLL" />
      <ComponentRef Id="WV_SYSMAN_DLL" />
      <!--<ComponentRef Id="DATA" />-->
      <!--<ComponentRef Id="CACHE" />-->
      <!--<ComponentRef Id="DEBUGDATA" />-->
      <!--<ComponentRef Id="SDATA" />-->
      <ComponentRef Id="SHARED" />
      <ComponentRef Id="TEMP" />
    </Feature>
	</Fragment>
</Wix>
