<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <Property Id="FILESEARCHES" Value="1"/>
    
    <Property Id="CGA_INDEXPHP_FOUND">
      <DirectorySearch Id="CGA_INDEXPHP_SIG" Path="[TARGETDIR][CGA_AMATFOLDER]\WWWROOT" Depth="0">
        <FileSearch Id="CGA_INDEXPHP_SIG" ShortName="index.php" />
      </DirectorySearch>
    </Property>
    
	</Fragment>
</Wix>
